---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Problema from '../components/Problema.astro';
import Propuesta from '../components/Propuesta.astro';
import Residentes from '../components/Residentes.astro';
import Administracion from '../components/Administracion.astro';
import Constructoras from '../components/Constructoras.astro';
import Proceso from '../components/Proceso.astro';
import Confianza from '../components/Confianza.astro';
import ContactoCTA from '../components/ContactoCTA.astro';
import Footer from '../components/Footer.astro';
import RevealScript from '../components/RevealScript.astro';
---
<BaseLayout>
  <Nav />
  <main id="top">
    <Hero />
    <Problema />
    <Propuesta />
    <Residentes />
    <Administracion />
    <Constructoras />
    <Proceso />
    <Confianza />
    <ContactoCTA />
  </main>
  <Footer />
  <RevealScript />
</BaseLayout>
